@import 'variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'MontSerrat', Arial, sans-serif;
  font-size: 100%;
  list-style-type: none;
}

.container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 2fr 1fr;
  grid-gap: 10px;
  grid-template-areas: 
    "header   header    header        header"
    "display  display   display       display"
    "display  display   display       display"
    "costumer costumer  ticket-window ticket-window"
    "footer   footer    footer        footer ";
}

.header {
  grid-area: header;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.3rem;
}

.display {
  grid-area: display;
  background-color: #1b1a4f;
  padding: var(--padding-20);
  color: #dddddd;
}

.display-password {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.password {
  font-size: 12rem;
  font-weight: 600;
}

.service-desk {
  font-size: 2.5rem;
  font-weight: 600;
}

.legend-title {
  font-weight: 600;
  font-size: .9rem;
}

.legend-text {
  width: 100%;
  margin: 19px 0;
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.choice-button {
  width: 100px;
  height: 35px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  color: #f7f7f7;
}

.common-button {
  background-color: #0071C1;
}

.quick-button {
  background-color: #00AF50;
}

.priority-button {
  background-color: #CC0001;
}

.service-button {
  background-color: #1b5823;
}

.costumer {
  grid-area: costumer;
  padding: var(--padding-20);
  border: #c2ecb9 5px solid;
}

.generated-password {
  width: 100%;
  height: 120px;
  margin-top: 20px;
  padding: var(--padding-20);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-legend {
  display: none;
  font-size: 0.9rem;
  margin-right: 2rem;
}

.password-code {
  font-size: 2.5rem;
  font-weight: 600;
}

.ticket-window {
  grid-area: ticket-window;
  padding: var(--padding-20);
  border: #bee9e9 5px solid;
}

.alert-no-password {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  color: #bb0000;
}

.footer {
  grid-area: footer;
  margin-top: 5px;
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;

  font-size: .75rem;
}

.footer span:first-child {
  font-weight: 600;
}

.footer span:nth-child(n + 2) {
  font-size: .6rem;
  font-style: italic;
}
